<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
    <title>职典-查职业，查薪酬</title>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/pop.css">
    <script src="/static/js/common.js"></script>
</head>
<body>
    <div id="salaryAnalysis" @click="showProvince=false;showCity=false;showSearch=false" :style="{height:clientH + 'px'}" @scroll="viewmore">
        <!---头部--->
        <header>
            <div @click.stop="getAreaOption($event)">{{area}}</div>
            <ul class="province" v-if="showProvince">
              <li :class="{'active': item.show}" v-for="item in areaList" @click.stop="selecteProvince(item)">{{item.name}}</li>
            </ul>
            <ul class="city" v-if="showCity">
              <li :class="{'active': obj.show}" @click.stop="selectCity(obj)" v-for="obj in cityList">{{obj.name}}</li>
            </ul>
            <section>
              <input type="text" placeholder="填专业，搜对口职业薪酬" @focus="clearTxt" v-model="searchTxt" @input="getSearchTxt">
              <ul v-show="showSearch">
                <li v-for="item in professList" @click.stop="getProfession(item.id,true, item.name)">{{item.name}}</li>
              </ul>
            </section>
        </header>

        <main>
          <!---行业--->
          <section id="profession" v-show="!showNoData">
            <section v-show="!showChart"><h1>对口职业平均薪酬</h1><span><em>¥</em>{{parseInt(professionAvg)}}</span></section>
            <section>
              <ul v-show="!showChart">
                <li v-for="item in professionSalaryList">
                  <p>{{item.avgSalary}}k</p>
                  <p>{{item.workAge}}</p>
                </li>
              </ul>
              <div id="chart" v-show="showChart"></div>
              <button class="one-key" v-show="showChart" @click="clearChart">一键取消</button>
            </section>
          </section>

          <div class="zhiwei">
          <!---职位--->
          <section v-for="item in jobList">
            <section>
              <h2>{{item.name}}
                <p>
                  <span>专业对口匹配度</span>
                  <img v-for="star in item.star" src="/static/img/icon-01.svg" alt="">
                </p>
              </h2>
              <section class="average-value">
                <span><em>¥</em>{{parseInt(item.positionavgsalary*1000)}}</span>
                <p>平均值</p>
              </section>
            </section>
            <section>
              <ul>
                <li v-for="obj in item.jobSalary"><img src="/static/img/icon-07.svg" alt="">{{obj.workAge}}<span v-if="obj.minSalary!='none'">{{obj.minSalary}}k-{{obj.maxSalary}}k</span><span v-if="obj.minSalary=='none'">无</span></li>
              </ul>
              <button @click="CompareOrNot(item)" :class="{active:!item.compareBtn}" >{{item.compareBtn ? "+对比": "取消" }}</button>
            </section>
          </section>
          </div>
          <!---top按钮--->
          <totop dom="salaryAnalysis" :show="showToTop"></totop>
          <button class="top switch" @click="goToCityList">切换<br />城市</button>

          <!---底部--->
          <p class="bottom" v-show="showLogin"><img src="/static//img/load.svg" alt=""> 加载中...</p>
          <p class="bottom" v-show="showTxt">—  不止诗与远方  —</p>
          <section class="loading" v-show="showLoading">
            <img src="/static/img/loading.svg" alt="">
            <p>正在加载...</p>
          </section>
          <section class="no-data" v-show="showNoData">
            <img src="/static/img/zanwu_02.png" alt="">
            <p v-text="note"></p>
          </section>
        </main>

        <div class="mask" v-if="showMask"></div>

        <!--支付-立即开通弹窗-->
        <paypop @close="closePayPop" :show="showPayPop" @init="initData"></paypop>

        <!--支付-支付成功弹窗-->
        <paysuccess @close="closeSuccess" :show="showSuccess"></paysuccess>  
        
    </div>
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/paypop.js"></script>
    <script src="/static/js/paySuccessPop.js"></script>
    <script src="/static/js/toTop.js"></script>
    <script>
      window.onload = function(){
        var domain = 'https://zhidian.dookbook.info/';
        shareLink();
        function shareLink(){
          var url = domain+'/api/wechat/share';
          var strWxCurUrl = '';
          var referreId = getQueryVariable('referreId');
          referreId == '' ? strWxCurUrl = domain : strWxCurUrl = domain+'index.html?referreId='+ referreId;
          var params = {'url': strWxCurUrl};

          axios.get(url,{params:params}).then(function(res) {
            var resData = res.data;
            if(resData.code == 200){
              var info = resData.data;
              wx.config({
                debug: false,
                appId: info.appId,
                timestamp: info.timestamp,
                nonceStr: info.nonceStr,
                signature: info.signature,
                jsapi_ticket: info.jsapi_ticket,
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
              });

              wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
                var shareData = {
                  title: '职典-查职业，查薪酬', // 分享标题
                  desc: '找一份稳定体面、且有前途、高薪酬，还能被亲朋好友羡慕的工作。', // 分享描述
                  link: strWxCurUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                  imgUrl: 'https://zhidian.dookbook.info/static/img/linkLogo.jpg', // 分享图标
                }
                wx.onMenuShareTimeline(shareData);
                wx.onMenuShareAppMessage(shareData);
              });

              wx.error(function (res) {
                // alert(res.errMsg);//错误提示
              });
            }
          })
        }
      }
    </script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/salary.js"></script>
    
</body>
</html>