<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
    <title>职典数据管理后台 - 登录</title>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/staff.css"/>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.js"></script>
</head>
<body>
    <div id="login">
        <section>
            <img src="/static/img/logo.png">
            <p>职典数据管理后台</p>
        </section>
        <section>
            <p><input type="text" value="" v-model="username" placeholder="请输入账号"></p>
            <p><input type="password" value="" v-model="password" placeholder="请输入密码"></p>
            <span v-text="noteInfo"></span>
        </section>
        <button type="submit" @click="login">登 录</button>
    </div>
    

    <script>
        var vm = new Vue({
        el: "#login",    //挂载元素
        data: {
            domain:'https://zhidian.dookbook.info',
            username: '',
            password: '',
            noteInfo: ''
        },
        methods: {
            login: function(){//登录
                if(!this.username){
                    this.noteInfo = '用户名不能为空';
                    return;
                }else if(!this.password){
                    this.noteInfo = '密码不能为空';
                    return;
                }
                var url = this.domain + '/api/user/login';
                var params = {
                    loginName: this.username,
                    password: this.password
                }
                axios.post(url,params).then(function(res) {
                    var resData = res.data;
                    if(resData.code === 200){//您账号或密码输入错误，请重新输入
                        var uid = resData.data.uid, name = resData.data.name
                        window.localStorage.setItem('id' , uid);
                        window.localStorage.setItem('name' , name);
                        window.location.href = '/staffOnly.html';
                    }
                })
            }
        }  
    })
    </script>
</body>
</html>