
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: #666;
}

input,
button,
select {
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

body,
h1,
h2,
h3,
input,
button,
ul,
li,
img,
a,
main,
header,
p,
span,
em,
select,
option,
svg {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

body {
  width: 100%;
  background: #f8faff;
}