/** styles for content page of payFor **/

body {
    background: #fff;
}

#payFor {
    width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 266px;
    margin-top: 25px;
    background: linear-gradient(to right, #7ac4ff , #3a96ff);
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
}

header section {
    width: calc(100% - 36px);
    height: 226px;
    margin: 18px;
    background: url(/static/img/ticket.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

header section div {
    width: 50%;
    float: left;
}

header section div:first-child p {
    padding: 40px 0 0 45px;
    font-size: 30px;
    -webkit-text-stroke: 1px #fff;
}

header section div:first-child p span{
    font-size: 80px;
    -webkit-text-stroke: 2px #fff;
}

header section div:first-child em {
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
}

header section div:first-child em span {
    text-decoration: line-through;
}

header section div:nth-child(2) p {
    font-size: 22px;
    padding-top: 60px;
    text-align: center;
}

header section div:nth-child(2) button {
    display: block;
    width: 180px;
    height: 48px;
    line-height: 48px;
    margin: 30px auto 0;
    background: #fff;
    border-radius: 30px;
    border: none;
    font-size: 22px;
    color: #3995ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* 会员权益css */
.logos {
    margin-top: 15px;
}

.logos h3, .tags h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #333;
    padding: 28px 0;
    font-weight: normal;
    clear: both;
}

.logos ul {
    clear: both;
}

.logos ul li {
    float: left;
    width: 170px;
    height: 140px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    margin: 0 0 20px 30px;
}

.logos ul li:nth-child(1), .logos ul li:nth-child(4) {
    margin-left: 0;
}

.logos ul li img {
    width: 70px;
    height: 70px;
    margin: 10px 0;
}

.logos ul li span {
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #ccc;
    display: block;
    color: #666;
    font-size: 22px;
}

/* 数据来源css */
.tags span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border: 1px solid #bfbfbf;
    border-radius: 48px;
    margin: 0 15px 15px 0;
    font-size: 18px;
    color: #666;
}

.tags em {
    font-weight: bold;
    letter-spacing: 5px;
}

/* 页脚 */
footer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #666;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: 0;
}

footer span {
    position: relative;
}

footer span::before,footer span::after {
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background: #ccc;
    position: absolute;
}

footer span::before {
    left: -110px;
    top: 12px;
}

footer span::after {
    right: -120px;
    top: 12px;
}