/*支付弹窗*/
.payPop {
  width: 100%;
  height: 366px;
  background: linear-gradient(to right, #ff6f89 , #ff4861);
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.payPop > span {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #fff;
  font-size: 28px;
}

.payPop div {
  width: calc(100% - 60px);
  margin: 30px;
  height: 192px;
  background: url(/static/img/ticket.png) no-repeat;
  background-size: 100% 100%;
}

.payPop div p{
  width: 50%;
  float: left;
  color: #fff;
  text-align: center;
}

.payPop div p:first-child {
  font-size: 22px;
  margin-top: 40px;
}

.payPop div p:first-child em {
  width: 100%;
  display: block;
  font-size: 35px;
  margin-bottom: 25px;
}

.payPop div p:first-child span {
  text-decoration: line-through;
}

.payPop div p:nth-child(2) {
  font-size: 22px;
}

.payPop div p:nth-child(2) span {
  display: block;
  font-size: 26px;
  width: 100%;
  margin: 20px 0 0 0;
}

.payPop div p:nth-child(2) span em {
  -webkit-text-stroke: 2px #fff;
  font-size: 68px;
}

.payPop button {
  display: block;
  width: calc(100% - 60px);
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  color: #ff4860;
  font-size: 28px;
}

/*支付成功*/
.mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
  }
  
  .success-box {
    height: 690px;
    position: fixed;
    top: 35%;
    left: 8%;
    margin-top: -210px;
    width: 84%;
    z-index: 5;
  }
  
  .success {
    width: 100%;
    position: relative;
    height: 690px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
  }
  
  .success::before {
    content: '';
    width: 790px;
    height: 310px;
    background: #3589fc;
    position: absolute;
    top: -25%;
    left: -25%;
    border-radius: 100%;
  }
  
  .logo {
    font-size: 28px;
    color: #333;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 15px;
  }
  
  .xian {
    width: 4px;
    height: 50px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    display: inline-block;
    background: #fff;
    margin-left: -2px;
  }
  
  .shut-down {
    width: 55px;
    position: absolute;
    bottom: -97px;
    left: 50%;
    margin-left: -27px;
  }
  
  .success p {
    font-size: 24px;
    color: #999;
    letter-spacing: 2px;
  }
  
  .success p:first-child {
    font-size: 50px;
    color: #fff;
    padding-top: 25px;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 10px rgba(12, 49, 158, 0.4);
  }
  
  .success p:nth-child(2) {
    padding: 110px 0 10px;
  }
  
  .success p:nth-child(2) img {
    width: 270px;
    height: 270px;
    border: 2px solid #3589fc;
    border-radius: 10px;
  }
  