
body {
    background: #f8faff;
}

header {
    width: 100%;
    height: 456px;
    background: #5297fc;
}

header > section {
    width: calc(100% - 60px);
    height: 355px;
    padding: 0 30px;
    background: url('/static/img/detail-background.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
}

header > section > h1 {
    width: 100%;
    text-align: center;
    font-size: 38px;
    color: #fff;
    position: absolute;
    top: 145px;
    left: 0;
    font-weight: normal;
    letter-spacing: px;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

header > section > h1 > em {
    width: 100%;
    display: block;
    font-size: 48px;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px #fff;
}

main {
    border-radius: 30px;
    width: calc(100% - 60px);
    margin: -103px 30px 50px;
    padding-top: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

main > ul {
    width: calc(100% - 80px);
    margin: 0 40px;
    padding-bottom: 30px;
}

main > ul > li {
    width: 210px;
    height: 230px;
    border-radius: 15px;
    margin-bottom: 30px;
}

main > ul > li:first-child {
    float: left;
    background: #4f95fc;
}

main > ul > li:nth-child(2) {
    float: right;
    background: #f957a4;
}

main > ul > li > img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 35px auto 10px;
}

main > ul > li > span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

main > ul > li > span > em {
    width: 100%;
    display: block;
    font-size: 38px;
    text-align: center;
}

main > ul > li > span > em > i {
    font-style: normal;
    font-size: 24px;
}

main > section {
    clear: both;
    width: calc(100% - 80px);
    padding: 30px 40px;
}

main > section > h2 {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    font-weight: normal;
    clear: both;
}

main > section > #chart1, main > section > #chart2 {
    width: 100%;
    height: 295px;
}

main > section > p {
    clear: both;
    width: 100%;
    color: #555;
    font-size: 14px;
    line-height: 30px;
}

footer {
    width: 100%;
    height: 186px;
    background: #37a3da;
}

footer p {
    height: 64px;
    line-height: 70px;
    color: #fff;
    font-size: 22px;
    padding-left: 30px;
}

footer div {
    width: calc(100% - 60px);
    margin: 0 30px;
    display: flex;
}

footer div input[type="text"]{
    flex: 1;
    margin-right: 20px;
    border: none;
    background: #fff;
    border-radius: 10px;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    font-size: 24px;
}

footer div input[type="text"]::placeholder {
    color: #ccc;
    font-size: 24px;
}

footer button {
    width: 100px;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: #37a3da;
    text-align: center;
}