/** styles for content page of cookbook **/

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: #666;
}

input,
button,
select {
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

body,
h1,
h2,
h3,
input,
button,
ul,
li,
img,
a,
main,
header,
p,
span,
em,
select,
option,
svg {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

body {
  width: 100%;
  background: #f8faff;
}

#salaryAnalysis {
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 4;
}

header section {
  position: relative;
  flex: 1;
}

header section input[type="text"] {
  width: 100%;
  border-radius: 64px;
  height: 64px;
  line-height: 64px;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 0 20px 0 30px;
  font-size: 24px;
  color: #333;
  background: url('/static/img/search.svg') no-repeat 96%;
  background-size: 42px;
}

header section ul {
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 84px;
  line-height: 48px;
  font-size: 24px;
  color: #999;
}

header > div {
  width: 120px;
  border: 1px solid #999;
  border-radius: 10px;
  height: 54px;
  line-height: 54px;
  font-size: 24px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 5px 20px 0 0;
  background: url('/static/img/down.svg') no-repeat 85px;
  background-size: 30px;
  color: #333;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.province {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 3;
  top: 90px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  height: 365px;
  overflow-y: auto;
}

.province li {
  width: 120px;
  color: #666;
  font-size: 22px;
  line-height: 52px;
}

.province li.active {
  color: #3589fc;
}

.city {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 3;
  top: 90px;
  left: 170px;
  border-radius: 10px;
  text-align: center;
  overflow-y: auto;
  width: 120px;
  padding: 10px 0;
  height: 365px;
  overflow-y: auto;
}

.city li {
  width: 120px;
  color: #666;
  font-size: 22px;
  line-height: 52px;
}

.city li.active {
  color: #3589fc;
}

main {
  padding: 0 40px 40px 40px;
}

h1 {
  float: left;
  font-size: 36px;
}

h2 {
  float: left;
  font-size: 30px;
  line-height: 40px;
  padding-top: 20px;
}

main > section:first-child > section:first-child {
  background-image: linear-gradient(to right, #e53698 , #f78e6e);
  color: #fff;
  height: 136px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(229, 55, 152, 0.3);
  line-height: 136px;
  padding: 0 30px 0 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

main > section:first-child section span {
  float: right;
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 2px #fff;
}

main > section:first-child section span em {
  font-size: 24px;
  padding-right: 4px;
  -webkit-text-stroke: 0 #fff;
}

main > section:first-child > section:last-child {
  background: #fff;
  width: calc(100% - 40px);
  margin-left: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.4);
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  display: inline-block;
}

main > section:first-child ul {
  text-align: center;
  clear: both;
  padding-bottom: 20px;
}

main > section:first-child ul li {
  display: inline-block;
  color:#e53698;
  text-align: center;
  padding-left: 12px;
}

main > section:first-child ul li:first-child {
  padding-left: 0 !important;
}

main > section:first-child ul li p:last-child {
  font-size: 14px;
  color: #e53698;
}

main > section:first-child ul li p:first-child {
  border-bottom: 1px solid #e53698;
  padding: 0 4px 7px;
  margin-bottom: 3px;
}

main > section:first-child ul li:nth-child(1) p:first-child {
  font-size: 24px;
  margin-top: 22px;
}

main > section:first-child ul li:nth-child(2) p:first-child {
  font-size: 28px;
  margin-top: 17px;
}

main > section:first-child ul li:nth-child(3) p:first-child {
  font-size: 32px;
  margin-top: 12px;
}

main > section:first-child ul li:nth-child(4) p:first-child {
  font-size: 36px;
  margin-top: 5px;
}

main > section:first-child ul li:nth-child(5) p:first-child {
  font-size: 40px;
}

.zhiwei > section > section:first-child {
  background: #3589fc;
  color: #fff;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(12, 49, 158, 0.3);
  line-height: 120px;
  padding: 0 30px 0 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  overflow: hidden;
}

.zhiwei > section > section:last-child {
  background: #fff;
  width: calc(100% - 40px);
  margin-left: 20px;
  display: inline-block;
  clear: both;
  margin-top: -20px;
  padding: 45px 15px 57px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.4);
  border-radius: 0 0 20px 20px;
  position: relative;
}

.zhiwei > section > section:last-child button {
  background: #3589fc;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 46px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.zhiwei > section > section:last-child button.active {
  background: #e53898;
}

.zhiwei section section h2 p img {
  width: 26px;
  vertical-align: top;
  margin: 7px 0 0 4px;
  float: left;
}

.zhiwei section section h2 p span {
  float: left;
  font-size: 20px;
  color: #eee;
  padding-right: 4px;
}

.zhiwei section ul {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
}

.zhiwei section ul li {
  float: left;
  font-size: 18px;
  color: #999;
  width: 50%;
}

.zhiwei section ul li:last-child {
  width: 100%;
}

.zhiwei section ul li span {
  color:#3589fc;
  font-weight: bold;
  font-size: 20px;
  padding-left: 5px;
}

.zhiwei section ul li img {
  width: 45px;
  vertical-align: middle;
  padding-right: 5px;
}

.zhiwei section ul li:first-child {
  padding-left: 0;
}

.average-value {
  float: right;
  line-height: 28px;
  text-align: center;
  padding: 34px 0 0 0;
}

.average-value p {
  padding-left: 15px;
}

.zhiwei section section .average-value span {
  -webkit-text-stroke: 2px #fff;
  font-size: 38px;
}

.zhiwei section section .average-value span em {
  -webkit-text-stroke: 0 #fff;
  font-size: 18px;
}

#chart {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

#profession {
  position: fixed;
  z-index: 3;
  width: calc(100% - 80px);
  top: 140px;
}

.zhiwei {
  margin: 470px 0 45px;
  position: static;
  z-index: 1;
  background: #f8faff;
}

/* 这是滑动条的时候加的样式 */
.box-profession {
  top: 103px !important;
  width: 100% !important;
  left: 0;
}

.box-profession ul li {
  padding-left: 15px !important;
}

.box-profession ul li p:first-child {
  padding: 0 9px 7px !important;
}

.one-key {
  width: 120px;
  height: 50px;
  background: #e53698;
  color: #fff;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
}

/*回到顶部样式*/
.top {
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 3;
  width: 96px;
  height: 96px;
  background: #fff;
  box-shadow: 0 0 10px rgba(39, 38, 54, 0.2);
  border: none;
  border-radius: 96px;
  display: none;
}

.top img {
  width: 75px;
}

/*底部加载中样式*/
.bottom {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #666;
  position: absolute;
  bottom: 35px;
  left: 0;
  z-index: -1;
}

.bottom img {
  width: 32px;
  vertical-align: middle;
}

/*暂无数据样式*/
.no-data {
  position: fixed;
  padding: 0 20px;
  text-align: center;
  color: #999;
  top: 50%;
  margin-top: -200px;
}

.no-data p {
  margin-top: -100px;
  font-size: 22px;
}

.no-data img {
  width: 100%;
}

/*数据正在加载中样式*/
.loading {
  position: fixed;
  width: 160px;
  height: 160px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -80px;
  font-size: 22px;
}

.loading img {
  width: 65px;
  margin: 25px 0 5px;
  animation: Spin 2s infinite;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*支付弹窗*/
.mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 4;
}

.pop-box,
.success-box {
  height: 690px;
  position: fixed;
  top: 35%;
  left: 8%;
  margin-top: -210px;
  width: 84%;
  z-index: 5;
}

.pop-ups,
.success {
  width: 100%;
  position: relative;
  height: 690px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.pop-ups::before,
.success::before {
  content: '';
  width: 790px;
  height: 310px;
  background: #3589fc;
  position: absolute;
  top: -25%;
  left: -25%;
  border-radius: 100%;
}

.pop-ups > p:first-child {
  font-size: 26px;
  color: #fff;
  padding-top: 25px;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(12, 49, 158, 0.4);
}

.pop-ups > p:first-child span {
  font-weight: bolder;
  font-size: 46px;
  padding-left: 10px;
}

.pop-ups > p:nth-child(2) {
  font-size: 30px;
  color: #666;
  margin-top: 56px;
}

.pop-ups > p:nth-child(2) span {
  font-size: 80px;
  color: #db0303;
  padding-right: 10px;
}

.pop-ups > p:nth-child(3) {
  color: #ccc;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: -13px;
}

.pop-ups > p:nth-child(4) {
  font-size: 26px;
  color: #666;
  padding-top: 20px;
}

.pop-ups > p:nth-child(4) em {
  padding: 0 12px;
}

.pop-ups > p:nth-child(4) span {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #666;
  vertical-align: middle;
}

.pop-ups ul {
  width: 82%;
  display: inline-block;
  margin-top: 30px;
}

.pop-ups ul li {
  float: left;
  width: 125px;
  height: 107px;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: 27px;
}

.pop-ups ul li:first-child {
  margin-left: 0;
}

.pop-ups ul li img {
  width: 50px;
  vertical-align: middle;
}

.pop-ups ul li:nth-child(2) img {
  width: 60px;
}

.pop-ups ul li p:first-child {
  height: 75px;
  line-height: 75px;
}

.pop-ups ul li p:last-child {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ccc;
  color: #666;
}

.pop-ups button {
  height: 85px;
  background: #3589fc;
  border: none;
  color: #fff;
  font-size: 38px;
  letter-spacing: 7px;
  border-radius: 10px;
  width: 82%;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(12, 49, 158, 0.4);
}

.logo {
  font-size: 28px;
  color: #333;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.logo img {
  width: 50px;
  vertical-align: middle;
  margin-right: 15px;
}

.xian {
  width: 4px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: inline-block;
  background: #fff;
  margin-left: -2px;
}

.shut-down {
  width: 55px;
  position: absolute;
  bottom: -97px;
  left: 50%;
  margin-left: -27px;
}

.success p {
  font-size: 24px;
  color: #999;
  letter-spacing: 2px;
}

.success p:first-child {
  font-size: 50px;
  color: #fff;
  padding-top: 25px;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(12, 49, 158, 0.4);
}

.success p:nth-child(2) {
  padding: 110px 0 10px;
}

.success p:nth-child(2) img {
  width: 270px;
  height: 270px;
  border: 2px solid #3589fc;
  border-radius: 10px;
}
