/** styles for content page of cookbook **/

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: #666;
}

input,
button,
select {
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

body,
h1,
h2,
h3,
input,
button,
ul,
li,
img,
a,
main,
header,
p,
span,
em,
select,
option,
svg {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

body {
  width: 100%;
  background: #f8faff;
}

#salaryAnalysis {
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header section {
  position: relative;
  flex: 1;
}

header section input[type="text"] {
  width: 100%;
  border-radius: 64px;
  height: 64px;
  line-height: 64px;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 0 20px 0 30px;
  font-size: 24px;
  color: #333;
  background: url('/static/img/search.svg') no-repeat 96%;
  background-size: 42px;
}

header section ul {
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 84px;
  z-index: 3;
  line-height: 48px;
  font-size: 24px;
  color: #999;
}

header > div {
  width: 120px;
  border: 1px solid #999;
  border-radius: 10px;
  height: 54px;
  line-height: 54px;
  font-size: 24px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 5px 20px 0 0;
  background: url('/static/img/down.svg') no-repeat 85px;
  background-size: 30px;
  color: #333;
}

.province {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 3;
  top: 90px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  height: 320px;
  overflow-y: auto;
}

.province li {
  width: 120px;
  color: #666;
  font-size: 22px;
  line-height: 42px;
}

.province li.active {
  color: #3589fc;
}

.city {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 3;
  top: 90px;
  left: 170px;
  border-radius: 10px;
  text-align: center;
  overflow-y: auto;
  width: 120px;
  padding: 10px 0;
  height: 320px;
  overflow-y: auto;
}

.city li {
  width: 120px;
  color: #666;
  font-size: 22px;
  line-height: 42px;
}

.city li.active {
  color: #3589fc;
}

main {
  padding: 0 40px 40px 40px;
}

h1 {
  float: left;
  font-size: 36px;
}

h2 {
  float: left;
  font-size: 30px;
  line-height: 40px;
  padding-top: 20px;
}

main > section > section:first-child {
  background: #3589fc;
  color: #fff;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(12, 49, 158, 0.3);
  line-height: 120px;
  padding: 0 30px 0 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  overflow: hidden;
}

main > section > section:last-child {
  background: #fff;
  width: calc(100% - 40px);
  margin-left: 20px;
  display: inline-block;
  clear: both;
  margin-top: -20px;
  padding: 45px 15px 57px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.4);
  border-radius: 0 0 20px 20px;
  position: relative;
}

main > section > section:last-child button {
  background: #3589fc;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

main section section h2 p img {
  width: 26px;
  vertical-align: top;
  margin: 7px 0 0 4px;
  float: left;
}

main section section h2 p span {
  float: left;
  font-size: 20px;
  color: #eee;
  padding-right: 4px;
}

main > section:first-child > section:first-child {
  background-image: linear-gradient(to right, #e53698 , #f78e6e);
  color: #fff;
  height: 136px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(229, 55, 152, 0.3);
  line-height: 136px;
  padding: 0 30px 0 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

main section:first-child section span {
  float: right;
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 2px #fff;
}

main section:first-child section span em {
  font-size: 24px;
  padding-right: 4px;
  -webkit-text-stroke: 0 #fff;
}

main section ul {
  width: 100%;
  text-align: center;
}

main section ul li {
  display: inline-block;
  color:#3589fc;
  text-align: center;
  padding-left: 12px;
}

main section ul li:first-child {
  padding-left: 0;
}

main > section:first-child > section:last-child {
  background: #fff;
  width: calc(100% - 40px);
  margin-left: 20px;
  padding: 45px 15px 25px 15px;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.4);
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
}

main section:first-child ul {
  display: inline-block;
  clear: both;
  padding-bottom: 20px;
}

main section ul li p:first-child {
  border-bottom: 1px solid #3589fc;
  padding-bottom: 7px;
  margin-bottom: 3px;
  font-weight: bolder;
}

main section ul li p:last-child {
  font-size: 14px;
  color: rgba(53, 137, 252, 0.9);
}

main section:first-child ul li p:last-child {
  font-size: 14px;
  color: #e53698;
}

main section:first-child ul li {
  display: inline-block;
  color:#e53698;
  text-align: center;
}

main section:first-child ul li p:first-child {
  border-bottom: 1px solid #3589fc;
  padding: 0 4px 7px;
  margin-bottom: 3px;
}

main section:first-child ul li p:first-child {
  border-bottom: 1px solid #e53698;
  padding: 0 4px 7px;
  margin-bottom: 3px;
}

main section:first-child ul li:nth-child(1) p:first-child {
  font-size: 24px;
  margin-top: 22px;
}

main section:first-child ul li:nth-child(2) p:first-child {
  font-size: 28px;
  margin-top: 17px;
}

main section:first-child ul li:nth-child(3) p:first-child {
  font-size: 32px;
  margin-top: 12px;
}

main section:first-child ul li:nth-child(4) p:first-child {
  font-size: 36px;
  margin-top: 5px;
}

main section:first-child ul li:nth-child(5) p:first-child {
  font-size: 40px;
}

.average-value {
  float: right;
  line-height: 28px;
  text-align: center;
  padding: 34px 0 0 0;
}

.average-value p {
  padding-left: 15px;
}

main section section .average-value span {
  -webkit-text-stroke: 2px #fff;
  font-size: 38px;
}

main section section .average-value span em {
  -webkit-text-stroke: 0 #fff;
  font-size: 18px;
}

#chart {
  width: 500px;
  height: 300px;
  padding-right: 10px;
  box-sizing: border-box;
}

/*回到顶部样式*/
.top {
  position: fixed;
  bottom: 20%;
  right: 0;
  z-index: 3;
  width: 96px;
  height: 96px;
  background: #fff;
  box-shadow: 0 0 10px rgba(39, 38, 54, 0.2);
  border: none;
  border-radius: 96px;
  display: none;
}

.top img {
  width: 75px;
}

/*底部加载中样式*/
.bottom {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px 0 0 0;
}

.bottom img {
  width: 32px;
  vertical-align: middle;
}

/*暂无数据样式*/
.no-data {
  position: fixed;
  padding: 0 20px;
  text-align: center;
  color: #999;
  top: 50%;
  margin-top: -200px;
  display: none;
}

.no-data p {
  margin-top: -100px;
  font-size: 22px;
}

.no-data img {
  width: 100%;
}

/*数据正在加载中样式*/
.loading {
  position: fixed;
  width: 160px;
  height: 160px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -80px;
  font-size: 22px;
}

.loading img {
  width: 65px;
  margin: 25px 0 5px;
  animation: Spin 2s infinite;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*支付弹窗*/
.mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 4;
}

.pop-ups {
  width: 80%;
  height: 420px;
  background: #fff;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 5;
  margin-top: -210px;
  text-align: center;
}

.pop-ups p:first-child {
  font-size: 42px;
  color: #333;
  padding-top: 45px;
}

.pop-ups p:nth-child(2) {
  font-size: 24px;
  color: #333;
  padding-top: 50px;
}

.pop-ups p:nth-child(2) span {
  font-size: 60px;
  color: #db0303;
}

.pop-ups button {
  height: 85px;
  background: #bf1313;
  border: none;
  color: #fff;
  font-size: 44px;
  letter-spacing: 4px;
  border-radius: 10px;
  width: 80%;
  margin-top: 45px;
}

.pop-ups .xian {
  width: 2px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: inline-block;
  background: #fff;
  margin-left: -2px;
}

.pop-ups img {
  width: 50px;
  position: absolute;
  bottom: -96px;
  left: 50%;
  margin-left: -25px;
}

.success {
  width: 80%;
  height: 430px;
  background: #fff;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 5;
  margin-top: -215px;
  text-align: center;
}

.success p {
  color: #333;
  font-size: 22px;
  line-height: 34px;
}

.success p:first-child {
  font-size: 44px;
  padding: 40px 0 35px;
}

.success p img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.success .xian {
  width: 2px;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: inline-block;
  background: #fff;
  margin-left: -2px;
}

.shut-down {
  width: 50px;
  position: absolute;
  bottom: -96px;
  left: 50%;
  margin-left: -25px;
}
