/** styles for content page of cookbook **/

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: #18366a;
}

input,
button,
select {
  outline: none;
}

body,
h1,
h2,
h3,
input,
button,
ul,
li,
img,
a,
main,
header,
p,
span,
em,
tbody,
tr,
td,
thead,
select,
option,
svg {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

body {
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 46px;
  color: #18366a;
  padding-top: 30px;
}

h2 {
  padding-bottom:20px;
}

h3 {
  padding-bottom:20px;
}

.c header {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  display: flex;
}

.c header p {
  font-size: 18px;
  color: #333;
}

.c header section:nth-child(2) {
  clear: both;
  flex: 1;
  height: 70px;
  border: 3px solid #18366a;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  box-shadow: 4px 2px 6px rgba(24, 54, 106, 0.5);
}

.c header section input[type='text'] {
  border: none;
  text-align: left;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 26px;
  color: #18366a;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  float: right;
  background: none;
}

.c-xial {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: left;
  height: auto;
  box-shadow: none;
  top: 80px;
  background: #fff;
  border: 3px solid #18366a;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  line-height: 40px;
  font-size: 20px;
  z-index: 2;
}

.c-xial a {
  color: #333;
}

.btn {
  border: none;
  width: 80px;
  height: 100%;
  background: none;
  border-radius: 0;
  border: none;
  text-align: center;
  float: left;
}

.btn img {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}

.c {
  padding: 0 30px;
}

.c .shangyiye {
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 24px;
  background: #18366a;
  border-radius: 10px;
  padding: 0 20px 0 18px;
  margin-right: 15px;
  box-shadow: 2px 2px 6px rgba(24, 54, 106, 0.5);
}

.c .shangyiye svg {
  width: 26px;
  vertical-align: top;
  margin: 23px 3px 0 0;
}

.tab {
  width: 100%;
  height: 86px;
  background: #18366a;
  border-radius: 10px;
  margin: 30px 0;
  border: 3px solid #18366a;
  background: #fff;
  box-shadow: 4px 2px 6px rgba(24, 54, 106, 0.5);
}

.tab li {
  float: left;
  height: 86px;
  line-height: 86px;
  color: #18366a;
  font-size: 32px;
  width: 50%;
  text-align: center;
  letter-spacing: 3px;
}

.tab li.active {
  background: #18366a;
  color: #fff;
}

.filter li {
  margin-bottom: 20px;
  overflow: hidden; 
  height: 42px;
  position: relative;
  line-height: 42px;
  transition: all 1s;
}

.filter li button {
  background: none;
  border: none;
  color: #18366a;
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
}

.filter li > span {
  float: left;
  color: #333;
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}

.filter li p {
  float: left;
  width: 76%;
}

.filter li p span {
  font-size: 20px;
  color: #434343;
  margin-left: 15px;
  display: inline-block;
  padding: 0 6px;
  cursor: pointer;
}

.filter li button img {
  width: 15px;
  vertical-align: middle;
  margin-left: 4px;
}

.filter li p span.active {
  background: #18366a;
  color: #fff;
  padding: 0 6px;
}

table.zhiwei {
  box-shadow: 0 2px 8px rgba(24, 54, 106, 0.5);
  width: 100%;
  border: 3px solid #18366a;
  border-radius: 10px;
  text-align: center;
  margin: 40px 0;
}

table.zhiwei tr {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

table.zhiwei tr:last-child td {
  border-radius: 0 0 10px 10px;
}

table.zhiwei thead {
  width: 100%;
  background: #18366a;
}

table.zhiwei th {
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 20px;
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

table.zhiwei th:first-child {
  border: none;
}

table.zhiwei th span {
  width: 9px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

table.zhiwei th span svg {
  width: 12px;
  height: 12px;
  display: block;
}

table.zhiwei th span svg:first-child {
  transform: rotate(-180deg);
}

table.zhiwei th span svg:last-child {
  margin-top: -2px;
}

table.zhiwei td {
  height: 70px;
  padding: 10px 0;
  line-height: 28px;
  font-size: 18px;
  position: relative;
}

table.zhiwei td:nth-child(1) {
  width: 130px;
  padding-left: 10px;
}

table.zhiwei td:nth-child(2) {
  width: 100px;
}

table.zhiwei td:nth-child(3) {
  width: 115px;
}

table.zhiwei td:nth-child(4) {
  width: 90px;
}

table.zhiwei tr:nth-of-type(even){
  background: #f0f0f0;
}

select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 49%;
  border: 3px solid #18366a;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  color: #18366a;
  font-size: 26px;
  padding-left: 20px;
  box-sizing: border-box;
  background: #fff;
  background: url("/static/img/down.svg") no-repeat 95% center;
  background-size: 30px;
}

select:nth-child(2) {
  float: right;
}

.school li {
  width: 100%;
  display: inline-block;
  padding: 30px 0;
  border-bottom: 2px solid #e5e5e5;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: flex;
}

.school li section:nth-child(3) {
  float: right;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.school img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 10px;
}

.school li em {
  width: 45px;
  text-align: center;
  float: left;
  font-size: 28px;
  margin: 0 20px 0 10px;
  line-height: 60px;
}

.school li:nth-child(1) em {
  width: 45px;
  height: 45px;
  background: url("/static/img/icon-01.svg") no-repeat 2px 6px;
  background-size: 45px;
  font-size: 0;
}

.school li:nth-child(2) em {
  width: 45px;
  height: 45px;
  background: url("/static/img/icon-02.svg") no-repeat 2px 6px;
  background-size: 45px;
  font-size: 0;
}

.school li:nth-child(3) em {
  width: 45px;
  height: 45px;
  background: url("/static/img/icon-03.svg") no-repeat 2px 6px;
  background-size: 45px;
  font-size: 0;
}

.school li .fl {
  float: left;
}

.school li .info {
  font-size: 28px;
  padding: 0 20px 0 10px;
  flex: 1;
}

.school li .info > span {
  float: left;
  margin-top: -3px;
} 

.school li .info > p {
  position: absolute;
  top: 74px;
}

.school li .info > p > span {
  padding: 2px 5px;
  margin-right: 10px;
  float: left;
  font-size: 14px;
  background: #18366a;
  color: #fff;
  border-radius: 4px;
}

.school li .info > p > span[name='true'] {
  display: block;
}

.school li .info > p > span[name='false'] {
  display: none;
}

.school li .info section {
  float: left;
  text-align: left;
  margin-top: 45px;
  display: none;
  width: 100%;
}

.school li .info section span:first-child {
  float: left;
}

.school li .info section span:last-child {
  float: right;
  color: #18366a;
}

.school li .info > section > p {
  position: static;
  font-size: 20px;
  color: #333;
  padding-top: 12px;
}

.school li > section:nth-child(3) > p:first-child {
  font-weight: bold;
  padding-top: 5px;
  font-size: 26px;
}

.load {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.load img {
  width: 36px;
  vertical-align: middle;
  padding-right: 10px;
}

table.zhiwei tfoot {
  width: 100%;
}

table.zhiwei tfoot tr {
  width: 100%;
}

table.zhiwei tfoot tr td:first-child{
  width: 100%;
  float: left;
  padding: 0;
}

.top {
  display: none;
  position: fixed;
  bottom: 10%;
  z-index: 1;
  right: 0;
  width: 80px;
  height: 80px;
  background: #18366a;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.top img {
  width: 30px;
  display: inline-block;
  transform: rotate(-90deg);
  vertical-align: top;
  margin-top: 7px;
}

.top span {
  width: 80px;
  text-align: center;
  display: inline-block;
}

table.biaoge  {
  border: 2px solid #e6e6e6;
  width: 100%;
  text-align: center;
  line-height: 70px;
}

table.biaoge th {
  border-left: 2px solid #f5f5f5;
  font-size: 20px;
  font-weight: normal;
}

table.biaoge td {
  border-left: 2px solid #f5f5f5;
  border-top: 2px solid #f5f5f5;
  font-size: 18px;
  color: #333;
}

table.biaoge td:first-child,
table.biaoge th:first-child {
  border-left: none;
}

.shenfen {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  display: none;
}

.shenfen section {
  background: #fff;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  padding: 20px 30px;
  box-sizing: border-box;
}

.shenfen section h2 {
  padding: 10px 0 10px 10px;
  font-size: 28px;
}

.shenfen section ul {
  display: inline-block;
}

.shenfen section ul li {
  float: left;
  font-size: 22px;
  line-height: 53px;
  padding: 0 10px;
  color: #333;
  box-sizing: border-box;
}

.close1 {
  position: absolute;
  top: -80px;
  right: 20px;
  border: none;
  width: 50px;
  text-align: center;
  background: none;
}

.close1 span {
  height: 40px;
  width: 3px;
  display: inline-block;
  background: #fff;
  margin-top: -10px;
}

.close1 img {
  width: 50px;
}


/* 首页*/
.index {
  background: url('/static/img/shouye-bg.jpg') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  color: #666;
  font-size: 18px;
}

.mine {
  width: 30px;
  position: fixed;
  fill: #666;
  right: 30px;
  top: 30px;
}

.index p {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.mulv {
  font-size: 24px;
  color: #18366a;
  padding: 7px 12px;
  border: 2px solid #18366a;
  border-radius: 10px;
  background: #fff;
  display: inline-block;
}

.mulv img {
  width: 40px;
  vertical-align: middle;
  padding-right: 5px;
}

.index-box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -300px;
  display: inline-block;
}

.logo {
  width: 90px;
}

.biaoyu {
  font-size: 36px;
  color: #18366a;
  font-weight: bold;
  letter-spacing: 3px;
}

.biaoyu span {
  padding: 0 15px;
}

.shuruk {
  position: relative;
  display: flex;
  margin: 30px 0 30px 10%;
  width: 80%;
  height: 70px;
  background: #fff;
  border: 2px solid #18366a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(24, 54, 106, 0.4);
}

.shuruk input[type='text'] {
  flex: 1;
  background: none;
  border: none;
  font-size: 24px;
  padding-left: 20px;
  box-sizing: border-box;
  color: #18366a;
}

.shuruk button {
  background: #18366a;
  border: none;
  color: #fff;
  width: 120px;
  font-size: 20px;
  height: 70px;
}

.xiala {
  display: none;
  width: calc(100% - 116px);
  background: #fff;
  border: #18366a 2px solid;
  border-top: none;
  line-height: 40px;
  text-align: left;
  position: absolute;
  top: 64px;
  left: -2px;
  padding: 20px 0 10px 20px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.search-results {
  text-align: center;
  width: 100%;
  padding: 0 10px;
  color: #666;
  font-size: 20px;
}

.xiala ul li {
  font-size: 20px;
  width: 100%;
}

.xiala ul li a {
  line-height: 50px;
  color: #333;
  width: 100%;
  display: inline-block;
}

/* b */
nav {
  padding: 0 30px;
  line-height: 70px;
  background: #fff;
}

nav ul li {
  border-bottom: 1px solid #e5e5e5;
  font-size: 24px;
  color: #000;
}

nav ul li svg {
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  transform: rotate(-180deg);
  margin-right: 15px;
}

nav ul li ul {
  border-top: 1px solid #e5e5e5;
  display: none;
  padding-left: 30px;
  color: #666;
}

nav ul li ul li ul li {
  padding-left: 30px;
}

nav ul li ul li ul li a {
  color: #000;
}

nav ul li:hover {
  color: #18366a;
}

nav ul li:hover li {
  color: #000;
}

nav ul li li:hover {
  color: #18366a;
}

nav ul li ul li:last-child {
  border-bottom: none;
}

nav ul li ul li ul li:last-child {
  border-bottom: none;
}

/* D */
.xq {
  padding: 0 40px;
  margin-bottom: 30px;
}

.xq section {
  background: #fff;
  padding: 20px;
  font-size: 18px;
  color: #333;
  line-height: 40px;
  margin-top: 30px;
}

.xq h2 {
  color: #000;
}

/* wode */
.wode {
  padding: 0 30px;
}

.wode header {
  background: url('/static/img/wode-bg_03.png') repeat-x #fff;
  height: 270px;
  width: 100%;
  border-radius: 20px;
  margin-top: 30px;
  padding-top: 55px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(136, 136, 136, 0.4);
}

.wode header .touxiang {
  float: left;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  border: 8px solid rgb(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-left: 30px;
  background: #fff;
}

.wode header section {
  float: left;
  padding-left: 25px;
  font-size: 22px;
  width: auto;
}

.wode header section h1 {
  font-size: 34px;
  color: #000;
  padding: 30px 0 10px;
}

.wode header section svg {
  width: 35px;
  vertical-align: top;
  margin: 3px 0 0 5px;
  fill: #b20404;
}

.wode header section:last-child {
  float: right;
  width: 160px;
}

.wode header button {
  float: right;
  width: 160px;
  height: 70px;
  line-height: 70px;
  background: #b20404;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 40px 30px 0 0;
}

.wode header button img {
  width: 40px;
  vertical-align: middle;
  margin: -5px 10px 0 0;
}

.wode header .rq {
  width: 160px;
  text-align: center;
  font-size: 18px;
  color: #666;
  float: right;
  padding: 9px 30px 0;
}

.qiehua {
  width: 100%;
  height: 90px;
  background: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin: 50px 0 30px;
}

.qiehua li {
  width: 50%;
  text-align: center;
  float: left;
  height: 90px;
  line-height: 90px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.qiehua li:first-child {
  border-radius: 10px 0 0 10px;
}

.qiehua li:last-child {
  border-radius: 0 10px 10px 0;
}

.qiehua li.active {
  background: #18366a;
  color: #fff;
}

.record {
  width: 100%;
}

.record ul li {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  height: 70px;
  line-height: 70px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(136, 136, 136, 0.3);
  padding: 0 20px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 22px;
}

.record ul li span:first-child {
  float: left;
}

.record ul li span:last-child {
  float: right;
  color: #666;
  font-size: 18px;
}

.mask1 {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  display: none;
}

.mask1 div {
  width: 80%;
  background: #fff;
  box-sizing: 0 2px 10px #000;
  border-radius: 20px;
  position: fixed;
  top: 20%;
  left: 10%;
  text-align: center;
  padding-bottom: 30px;
}

.wode-top {
  background: url('/static/img/wode_03.png') no-repeat;
  background-size: 100%;
  height: 182px;
  width: 100%;
  border-bottom: 2px dashed #ccc;
  margin-bottom: 30px;
}

.wode-top section {
  float: left;
  color: #fff;
  width: 50%;
}

.wode-top section:first-child {
  padding-top: 30px;
}

.wode-top section p:first-child {
  font-size: 34px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wode-top section p:first-child span {
  font-size: 50px;
}

.wode-top section p:nth-child(2) {
  font-size: 20px;
}

.wode-top section p:nth-child(2) span {
  font-size: 30px;
}

.wode-top button {
  border: none;
  background: #b20404;
  color: #fff;
  width: 170px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 26px;
  border-radius: 10px;
  margin: 17px 0 0 30px;
}

.wode-top button img {
  width: 30px;
  vertical-align: top;
  margin: 18px 0 0 15px;
}

.wenzi {
  width: 400px;
}

.guanbi {
  position: absolute;
  top: -25px;
  right: -25px;
  background: none;
  border: none;
}

.guanbi img {
  background: #b20404;
  width: 24px;
  padding: 12px;
  border-radius: 80px;
}

.tubiao {
  width: 100%;
  height: 400px;
}

.fanhui {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 28px;
  padding: 30px 0;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.fanhui img {
  position: absolute;
  float: left;
  width: 50px;
  vertical-align: middle;
  left: 20px;
}

.loading {
  text-align: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  top:50%;
  left: 50%;
  color: #fff;
  border-radius: 10px;
  padding: 10px 0;
  width: 100px;
  font-size: 18px;
  margin: 50px 0 0 -50px;
}

.loading svg {
  width: 36px;
  animation: load 2s infinite;
}

.no-data {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.no-data img {
  width: 100%;
  margin-top: -30px;
}

.no-data p {
  font-size: 28px;
  color: #888;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.school .zanwu {
  width: 100%;
  border-bottom: none;
  text-align: center;
  font-size: 28px;
  color: #888;
  font-weight: normal;
}

.school .zanwu p {
  width: 100%;
  float: left;
}

.school .zanwu img {
  margin-top: -50px;
  width: 100%;
  height: auto;
  overflow: auto;
}

.show {
  display: none;
}

@keyframes load {
  0% {
    transform: rotate(0);
    transform-origin:18px 18px;
  }
  100% {
    transform: rotate(360deg);
    transform-origin:18px 18px;

  }
}