@import "~taro-ui/dist/style/components/flex.scss";
// @import "./mixins.scss";

// $primary-color: #2185e7;
$primary-color: #1ab6ff;
$info: #1ab6ff;
$success: #47cb89;
$warning: #ffad33;
$error: #f44349;

$black: #000;
$white: #fff;

$text-color: #454545;
$text-color-lighter: #bbb;
$text-color-lighter2: #888;
$placeholder-color: #ccd0cf;

$border-color: #e5e5e5;
$border-color-lighter: #f4f4f4;
$border-radius: 4px;

$page-bg: #f7f7f7;
$image-bg: #f7f7f7;
