.catalog-wrap{
  background: #fff;
  .catalog-header{
    position: relative;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .06);
    .at-icon{
      position: absolute;
      width: 80px;
      height: 80px;
      left: 16px;
      top: 0;
      line-height: 80px;
      &:after{
        content: "";
        width: 60%;
        height: 80px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .catalog-header-txt{
      text-align: center;
      font-size: 28px;
      line-height: 80px;
    }
  }
  .catalog-cont{
    padding-right: 20px;
  }
  .catalog-item{
    font-size: 28px;
    padding-left: 20px;
    &.collapsed{
      .catalog-item-cont{
        display: none;
      }
    }
    .catalog-item-title{
      width: 100%;
      border-bottom: solid 1px #e5e5e5;
      padding: 20px 0;
      .at-icon{
        margin-right: 10px;
      }
    }
    .catalog-item-cont{
      display: block;
    }
  }
}