/** styles for content page of cookbook **/

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input,
button,
select,
textarea {
  outline: none;
}

body,
h1,
h2,
h3,
input,
button,
ul,
li,
img,
a,
main,
header,
p,
span,
em,
tbody,
tr,
td,
thead,
select,
option,
svg {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

body {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  background: linear-gradient(#3742fd, #151db8);
  padding: 0 30px;
  color: #666;
}

main {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  font-size: 26px;
  line-height: 40px;
  margin: 30px 0;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  color: #000;
}

h2 {
  font-size: 28px;
  padding: 40px 0 20px;
  color: #000;
}

label {
  width: 100%;
  display: inline-block;
  /* height: 65px; */
  line-height: 65px;
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 5px;
  padding: 0 20px;
  box-sizing: border-box;
}

.checked {
  border: 1px solid #fff;;
  box-shadow: 0 0 7px rgba(70, 70, 70, 0.3);
  color: #000;
}

.disabled {
  border: 1px solid #ddd;
  color: #ccc;
}

p {
  color: #999;
}

span {
  color: #f00;
}

input[type='text'] {
  width: 100%;
  background: none;
  border: none;
  border-top: 1px solid #ddd;
  height: 60px;
  font-size: 22px;
  padding: 0 10px;
  color: #333;
  box-sizing: border-box;
  vertical-align: 3px;
}

input[type='text'].text {
  width: 100%;
  margin-left: 0;
  height: 65px;
  line-height: 65px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 20px;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
}

input[type='radio']:checked {
  background: url('/static/survey/img/radio.svg');
  background-size: 20px;
  border: none;
}

input[type='checkbox']:checked {
  background: url('/static/survey/img/checkbox.svg') -10px -10px;
  background-size: 40px;
  border: none;
}

input[type='radio'] {
  border-radius: 20px;
}

input[type='submit'] {
  width: 100%;
  height: 70px;
  position: relative;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
  background: linear-gradient(to bottom right, #3742fd, #151db8 70%);
  color: #fff;
  margin-top: 30px;
  font-size: 22px;
}

textarea {
  width: 97%;
  height: 100px;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
  font-size: 20px;
}

main.tijiao {
  padding: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #3742fd, #1821ca 70%);
  margin: 0;
  border-radius: 0;
}

main.tijiao p {
  color: #fff;
}

section {
  color: #fff;
  line-height: 50px;
  font-size: 26px;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  margin: -200px 0 0 0;
}

main.tijiao svg {
  width: 200px;
}

#university-box,
#professional-box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  text-align: left;
}

#university-list,
#professional-list {
  display: none;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 15px 25px;
  box-sizing: border-box;
  position: absolute;
  color: #333;
  font-size: 22px;
}

#university-list li,
#professional-list li {
  width: 100%;
  line-height: 55px;
  display: inline-block;
}

#profession-text,
#career-text,
#treatment-text,
#employment-text {
  display: none;
}

#university-error,
#age-error,
#professional-error,
#treatment-error,
#profession-error,
#career-error,
#employment-error {
  color: #f00;
  font-size: 20px;
  margin-top: 10px;
  display: none;
}

#profession-text-error,
#career-text-error,
#treatment-text-error,
#employment-text-error {
  font-size: 18px;
  line-height: 65px;
  display: none;
}