.details-wrap{
  background-color: #f7fbfe;
  position: relative;
  padding-top: 300px;
  overflow: hidden;
}

.details-header{
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  .details-header-title{
    width: 100%;
    text-align: center;
    color: #2b78ff;
    position: absolute;
    top: 20px;
    z-index: 1;
    font-size: 36px;
  }
  .taro-img, image, img{
    width: 100%;
    height: 100%;
  }
  .arrow{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    top: 80px;
    left: 50%;
    margin-left: -50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .03);
    padding: 25px;
    transition: all .2s;
    &.arrow-1{
      transform:rotate(60deg);
    }
    &.arrow-2{
      transform:rotate(-60deg);
    }
  }
}

.details-tab{
  width: 100%;
  .at-tabs__body{
    .at-tabs__underline{
      display: none;
    }
  }
  .at-tabs__header{
    width: 100%;
    height: 100px;
    background: none;
    position: absolute;
    top: 160px;
    .at-tabs__item{
      width: 33.3333%;
      position: absolute;
      font-size: 22px;
      .at-tabs__item-underline{
        width: 16px;
        height: 16px;
        top: 8px;
        left: 50%;
        margin-left: -8px;
        border-radius: 100%;
        display: block;
        transform: scaleX(1);
        background-color: #fff;
        border: solid 2px #2b78ff;
      }
      &.at-tabs__item--active{
        .at-tabs__item-underline{
          background-color: #2b78ff;
          border-color: #2b78ff;
        }
      }
      &:nth-child(1){
        top: -7px;
        left: 0;
        transform:rotate(20deg);
      }
      &:nth-child(2){
        top: 30px;
        left: 33.33%;
        // transform:rotate(10deg);
      }
      &:nth-child(3){
        top: -7px;
        right: 0;
        transform:rotate(-20deg);
      }
      // &:nth-child(4){
      //   top: -10px;
      //   right: 0;
      //   transform:rotate(-20deg);
      // }
    }
  }
}

.echarts-box-wrap{
  padding: 0 30px;
  .default-box{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 80px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .03);
  }
  .has-title-box{
    background-color: #fff;
    border-radius: 0 0 50px 50px;
    position: relative;
    margin-top: 80px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .03);
    &:after {
      content: '';
      position: absolute;
      top: -42px;
      left: 0;
      width: 25%;
      height: 42px;
      border-radius: 100px 100px 0 0;
      background: #fff;
      box-shadow: 0 -3px 3px #f2f6ff;
    }
    &:before {
      content: '';
      position: absolute;
      top: -42px;
      right: 0;
      width: 25%;
      height: 42px;
      border-radius: 100px 100px 0 0;
      background: #fff;
      box-shadow: 0 -3px 3px #f2f6ff;
    }
    .box-title{
      width: 100%;
      height: 42px;
      text-align: center;
      border-radius: 70px;
      font-size: 28px;
      position: relative;
      &:before{
        content: '';
        width: 50%;
        height: 42px;
        top: -10px;
        left: 25%;
        background: #f8faff;
        position: absolute;
        border-radius: 0 0 60px 60px;
        box-shadow: inset 0 -10px 5px -10px rgba(197, 215, 255, 0.3);
      }
      .color-orange{
        color: #ff6235;
      }
      .box-title-text{
        width: 100%;
        height: 42px;
        position: absolute;
        top: -30px;
        left: 0;
        color: #333;
      }
    }
    .box-cont{
      overflow: hidden;
    }
    .box-cont2{}
  }
  .echarts-box-footer{
    text-align: center;
    color: #666;
    line-height: 60px;
    font-size: 12px;
    padding: 10px;
  }
}